{% extends "auctions/layout.html" %}

{% block body %}

<h2 class="title_wishlist"> Your wishlist </h2>

<div class="cards">
    {% for wishlists in wishlist %}

        <div class="card">
            <a href="{% url 'delete_wishlist' wishlists.pk %}">
                <button type="submit" class="btn btn-danger btn-sm" id="btn_delete" name="delete_wishlist">
                    Delete
                </button>
            </a>

            <a href="../listing/{{ wishlists.listing_id }}" class="link" id="a_none">
            <img src="{{ wishlists.listing.image }}" class="product">
            <div class="price">
                <p> {{ wishlists.listing.price }} $</p>
            </div>
                <h3 class="title_listing">{{ wishlists.listing.title|truncatechars:25 }}</h3>
            
            <strong><p>{{ wishlists.listing.category }}</p></strong>
            <p class="description_listing"> {{ wishlists.listing.description|truncatechars:70 }}</p>
            <strong><p></strong> {{ wishlists.listing.user }}</strong> {{ wishlists.listing.date }}</p>

            </a>
        </div>

    {% endfor %}
</div>

{% endblock %}