{% extends "auctions/layout.html" %}

{% block body %}

<div class="container_product">

    <div>
        <img src="{{ listing.image }}" class="medium_product">

        <form action="" method="POST">
            {% csrf_token %}
            {{ commentForm.as_p }}
            <button id="btn_comment" class="btn btn-primary" type="submit">Comment</button></span>
        </form>
    </br>



            {% if listing.comments.all.count > 0 %}

            <div class="container_comments">
                {% for comment in listing.comments.all %}
                    <div class="comment">
                        <p><strong>{{ comment.user }} :</strong> {{ comment.comment }}</p>
                    </div>
                {% endfor %}
            </div>
            {% else %}

            {% endif %}

    </div>

    <div class="container_description">

        <div class="medium_price">

            {% if bid.bid > listing.price %}

                <p> {{ bid.bid }} $ </p>

            {% else %}

            <p> {{ listing.price }} $ </p>

            {% endif %}

            {% if listing.statut == True and request.user != listing.user  %}

                <form action="" method="POST">
                    {% csrf_token %}
                    {{ bidForm.as_p }}
                    <button class="btn btn-primary" type="submit">Let's go !</button></span>
                </form>
            
            {% elif listing.statut == False %}

            {% endif %}
            
            <p> {{ listing.bids.count }} bids</p>

            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="wishlist" value="wishlist">
                <button class="btn btn-primary" type="submit">Add to wishlist</button>
            </form>

            {% if listing.statut == True  %}

                <p> The bid is open </p>

            {% elif listing.statut == False %}

                <p> The bid is closed </p>

                {% if bid.user != Null %}
                    <p> The winner is {{ bid.user }} </p>
                {% endif %}

            {% else %}

            {% endif%}

            {% if request.user == listing.user %}

            <form action="" method="post">
            
                {% csrf_token %}
                {{ statutForm.as_p }}
                <input type="hidden" name="change_status" value="change_status">
                <button class="btn btn-primary" type="submit">Close the bid</button>
            </form>

            {% endif %}


        </div>

        <h2 class="title_product"> {{ listing.title }} </h2>

            <strong><p class="category_product">{{ listing.category }}</p></strong>

            <p class="description_product"> {{ listing.description }}</p>

            <div class="details_product">
                <strong><p> {{ listing.user }}</strong></strong> {{ listing.date }}</p>
            </div>

    </div>
</div>

<script>
    var monInput = document.getElementById("my_bid");
    {% if bid %}
        monInput.placeholder = {{ bid.bid }} + 1;
        monInput.min = {{ bid.bid }} + 1;
    {% elif listing %}
        monInput.placeholder = {{ listing.price }} + 1;
        monInput.min = {{ listing.price }} + 1;
    {% endif %}
</script>
    
{% endblock %}


